vendor
node_modules
.env
.env.production
.env.development
.env.local
.env.test
.env.staging
.DS_Store
.cache
sqlite
.log
/storage/framework/logs
storage/logs

storage/framework/schedule
storage/cache/rate_limit

storage/meta/*
storage/database/*

