<?php

declare(strict_types=1);

namespace {{ namespace }};

use Zero\Lib\Http\Request;
use Zero\Lib\Http\Response;

class {{ class }}
{
    public function index(Request $request): Response
    {
        // return View::render('pages.example');
        return Response::redirectRoute('home');
    }
}
