<?php

namespace {{ namespace }};

class {{ class }}
{
    protected string $signature = '{{ signature }}';
    protected bool $cli = true;
    protected bool $web = true;

    public function handle(...$arguments): mixed
    {
        return null;
    }
}
