<?php

namespace {{ namespace }};

use Zero\Lib\Queue\Dispatchable;
use Zero\Lib\Queue\Job;

class {{ class }} implements Job
{
    use Dispatchable;

    /**
     * Maximum attempts before the job is moved to failed_jobs.
     */
    public int $tries = 3;

    /**
     * Seconds to wait between attempts.
     */
    public int $backoff = 30;

    public function __construct()
    {
        //
    }

    public function handle(): void
    {
        //
    }

    public function failed(\Throwable $exception): void
    {
        //
    }
}
