<?php

namespace App\Middlewares;

use Zero\Lib\Http\Request;
use Zero\Lib\Http\Response;

class {{ class }}
{
    public function handle(Request $request): ?Response
    {
        // Implement middleware logic here
        return null;
    }
}
